<%= simple_form_for :genera, 
      { url: modelo_path(@registro) , method: 'get' } do |f| %>
  <div class="row">
    <div class="col-sm-3">

      <% rutareg = clase.pluralize.underscore + '/show_boton_regresar' %>
      <% if lookup_context.find_all( rutareg, [], true).any? %>
        <%= render partial: rutareg %>
      <% else %>
        <%= render partial: 'boton_regresar', 
          locals: {registro: @registro} %>
      <% end %>

      <% if can?(:edit, @registro) %>
        <%= render partial: 'boton_editar',
          locals: {registro: @registro } %>
      <% end %>
    </div>

    <% if can?(:edit, @registro) && defined?(controller.con_boton_copiar?)  &&
        controller.con_boton_copiar? %>
      <div class='col-sm-3'>
        <%= render partial: 'boton_copiar', 
          locals: {registro: @registro} %>
      </div>
    <% end %>

    <% rutamas = clase.pluralize.underscore + '/show_mas_acciones' %>
    <% if lookup_context.find_all( rutamas, [], true).any? %>
      <% # Hay un parcial %>
      <%= render partial: rutamas %>
    <% else %>
      <%= render 'show_mas_acciones' %>
    <% end %>

    <div class="col-sm-3">
      <% if can?(:read, @registro) && @plantillas && @plantillas.count > 0 %>
         <% oppres = @plantillas ? @plantillas : [['','']] %>
         <%= f.input :plantilla_id, collection: oppres, 
           label: false, include_blank: false %>
      <% end %>
    </div>

    <div class="col-sm-3">
      <% if can?(:read, @registro) && @plantillas && @plantillas.count > 0 %>
        <%= link_to t('Generar ODS'),  
          '#', class: 'btn', 
          onclick: "Heb412Gen__Motor.completarEnlacePlantilla(this, "\
          "\'#genera_plantilla_id\', null, "\
          "\'#{modelo_path(@registro)}/fichaimp\', 'ods')" %>
        <%= link_to t('Generar XLSX'),  
          '#', class: 'btn', 
          onclick: "Heb412Gen_Motor.completarEnlacePlantilla(this, "\
          "\'#genera_plantilla_id\', null, "\
          "\'#{modelo_path(@registro)}/fichaimp\', 'xlsx')" %>
        <%= link_to t('Generar PDF'),
          '#', class: 'btn', 
          onclick: "Heb412Gen_Motor.completarEnlacePlantilla(this, "\
          "\'#genera_plantilla_id\', null, "\
          "\'#{modelo_path(@registro)}/fichapdf\')" %>
      <% end %>
    </div>
    <div class="col-sm-3">
      <% if can?(:destroy, @registro) %>
        <%= render partial: 'boton_eliminar',
          locals: {registro: @registro} %>
      <% end %>
    </div>
  </div> <!-- row -->

<% end %>
