<tr class='nested-fields'>
  <td>
    <% 
        ab = ::Ability.new 
        col = [['','']]
        if defined?(vista) && !vista.nil?
          col = ab.campos_plantillas[vista][:campos]
        elsif defined?(@vista) && !@vista.nil? 
          col = ab.campos_plantillas[@vista][:campos] 
        elsif defined?(ab.campos_plantillas['Usuario'])
          col = ab.campos_plantillas['Usuario'][:campos] 
        end
        puts "OJO campoplantillahcm. col=#{col.to_s}"
    %>
    <%= f.input :nombrecampo,
      collection: col,
      label: false
    %>
  </td>
  <td>
    <%= f.input :columna,
      collection: ('A'..'CZ').to_a,
      label: false
    %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
        :class => 'btn-danger' 
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
