<tr class='nested-fields'>
  <td>
    <% if defined?(vista) %>
      <%= render partial: 'campo_nombrecampo', 
        locals: {f: f, vista: vista} %>
    <% else %>
      <%= render partial: 'campo_nombrecampo', 
        locals: {f: f} %>
    <% end %>
  </td>
  <td> 
    <%= f.input :columna,
      collection: ('A'..Heb412Gen::ApplicationHelper::MAXCOL).to_a,  # AMJ es máximo en gnumeric
      label: false
    %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association t('Eliminar'), f, 
        :class => 'btn btn-sm btn-danger' 
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
