<div class="div-tabla">
  <div id="camposplantillahcm_marco" class="div-tabla-cuerpo">
    <div class="div-tabla-fila">
      <div class="div-tabla-celda-encabezado"><%= t('Campo') %></div>
      <div class="div-tabla-celda-encabezado"><%= t('Columna') %></div>
      <div class="div-tabla-celda-encabezado"><%= t('Acciones') %></div>
    </div>
    <%= f.simple_fields_for :campoplantillahcm,
      f.object.campoplantillahcm.order(['LENGTH(columna)', :columna])  do |subf| %>
      <%= render partial: 'campoplantillahcm',
        locals: {f: subf, vista: vista } %>
    <% end %>
  </div>
</div>

<div class="enlace-agregar-campoplantillahcm">
  <%= f.submit "Agregar Campo",
    formaction: heb412_gen.crear_campoplantillahcm_path(
      index: @plantillahcm.campoplantillahcm.size
    ),
    formmethod: :post,
    formnovalidate: true,
    class: 'btn btn-sm btn-primary',
    name: "agregar-campoplantillahcm",
    id: "agregar-campoplantillahcm",
    data:  {
      disable_with: false } %>
</div>
