<table class="table table-bordered" width="100%">
  <thead>
    <tr>
      <th><%= t('Campo') %></th>
      <th><%= t('Columna') %></th>
      <th><%= t('Acciones') %></th>
    </tr>
  </thead>
  <tbody id="campoplantillahcm">
    <%= f.simple_fields_for :campoplantillahcm, 
      f.object.campoplantillahcm.order(['LENGTH(columna)', :columna])  do |c| %>
      <%= render partial: 'campoplantillahcm', 
        locals: {f: c, vista: vista } %>
      </div>
    <% end %>
  </tbody>
</table>

<div class="links">
  <%= link_to_add_association t('Añadir campo'), f, 
    :campoplantillahcm,
    :"data-association-insertion-node" => "tbody#campoplantillahcm", 
    :"data-association-insertion-method" => "append", 
    partial: 'campoplantillahcm',
    class: 'btn btn-sm btn-primary',
    style: 'margin-bottom: 1em'
  %>
</div>
