<%= simple_form_for @plantillahcm do |f| %>


  <% controller.form_f = f %>
  <script>
    <% ab = ::Ability.new %>
    root = window;
    root.campos_plantillas=<%= raw(ab.campos_plantillas.to_json) %>
  </script>

  <div class="row">
    <div id="campos" class="col-12">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>

      <% ods =[] 
         Dir.chdir(Rails.application.config.x.heb412_ruta) { 
        ods= Dir.glob("**/*.ods") } %>

      <%= f.input :ruta, 
        collection: ods,
        input_html: {
          "data-toggle" => 'tooltip',
          "title" => t('Plantilla, debe ser hoja de cálculo (ods) con encabezado y lista para agregar datos en las filas a continuación de una incial')
        } %>

      <%= render partial: 'form_complemento1', locals: { f: f } %> 

      <%= f.input :fuente,
        input_html: {
        "data-toggle" => 'tooltip',
        "title" => t('URL o referencia para dar crédito')
      } %> 

      <%= f.input :licencia,
        input_html: {
        "data-toggle" => 'tooltip',
        "title" => t('URL a la licencia, requerido si el documento se va a publicar')
      } %> 

      <% 
        ab = ::Ability.new
        cord = ab.campos_plantillas.select{|l, v| !v[:solo_registro]}.
          keys.map { |n| 
          ['Listado de ' + 
             Heb412Gen::Plantillahcm.human_attribute_name(n.to_s.pluralize), 
              n.to_s] }
          cord.sort! { |x,y| x[0] <=> y[0] }
      %>
      <%= f.input :vista, 
        collection: cord,
        include_blank: false,
        selected: @plantillahcm.vista.nil? ? 'Usuario' : @plantillahcm.vista,
        input_html: {
          "data-toggle" => 'tooltip',
          "title" => t('Desde que parte de la aplicación se podrá llenar la plantilla')
        } %>

      <%= f.input :nombremenu,
        input_html: {
          "data-toggle" => 'tooltip',
          "title" => t('Nombre de esta plantilla para humanos')
        } %>

      <%= f.association :formulario,
        collection: Mr519Gen::Formulario.all,
        label_method: :presenta_nombre,
        value_method: :id,
        input_html: { class: 'chosen-select' }
      %>


      <%= f.input :filainicial,
         input_html: {
          "data-toggle" => 'tooltip',
          "title" => t('Con plantillas para múltiples registros, fila de la hoja de cálculo en la que empezará el primer registro')
        } %>

      <div id="divcampos">
        <%= render partial: 'divcampos_plantillahcm', 
          locals: {f: f, vista: f.object.vista } %>
      </div>

      <div class="form-actions abajocentrado">
        <%= f.button :submit, :class => 'btn-primary' %>

        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          heb412_gen.sisini_path, :class => 'btn' 
        %>
      </div>

    </div> <!-- class="offset-sm-0 col-sm-7 col-md-8" -->
  
  </div> <!-- row -->

<% end %>
