<% content_for :title do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :marca do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :menu do %>
  <ul class="navbar-nav mr-auto">
    <% if !current_usuario.nil? %>
      <!--%= menu_item "Examinar", heb412_gen.examinar_path %-->
      <%= link_to "Personas", sip.personas_path,
        class: 'dropdown-item' %>
      <%= link_to "Actores Sociales", sip.actoressociales_path,
        class: 'dropdown-item' %>
    <% end %>
  </ul>
  <ul class="navbar-nav mr-auto navbar-right">
    <% if !current_usuario.nil? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documentos</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Nube", heb412_gen.sisini_path,
            class: 'dropdown-item' %>
          <%= link_to "Definir plantilla hoja de calculo para múltiples registros (HCM)", 
            heb412_gen.new_plantillahcm_path,
            class: 'dropdown-item' %>
          <%= link_to "Lista de plantillas HCM asociadas", 
            heb412_gen.plantillashcm_path,
            class: 'dropdown-item' %>
          <%= link_to "Definir plantilla hoja de calculo para un registros (HCR)", 
            heb412_gen.new_plantillahcr_path,
            class: 'dropdown-item' %>
          <%= link_to "Lista de plantillas HCR asociadas", 
            heb412_gen.plantillashcr_path,
            class: 'dropdown-item' %>
          <%= link_to "Definir plantilla documento para un registro", 
            heb412_gen.new_plantilladoc_path,
            class: 'dropdown-item' %>
          <%= link_to "Lista de plantillas documento", 
            heb412_gen.plantillasdoc_path,
            class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrar</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Clave", main_app.editar_registro_usuario_path,
            class: 'dropdown-item' %>
          <% if current_usuario.rol == Ability::ROLADMIN %>
            <%= link_to "Usuarios", main_app.usuarios_path,
              class: 'dropdown-item' %>
          <% end %>
          <% if can? :manage, Mr519Gen::Formulario %>
            <%= link_to "Formularios", mr519_gen.formularios_path,
              class: 'dropdown-item' %>
          <% end %>
          <% if current_usuario.rol == Ability::ROLADMIN %>
            <%= link_to "Tablas Básicas", sip.tablasbasicas_path,
              class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
      <%= link_to "Salir #{current_usuario.nusuario}", main_app.sign_out_path,
        class: 'dropdown-item' %>
    <% else %>
      <%= link_to "Acerca de", '/acercade',
        class: 'dropdown-item' %>
      <%= link_to "Iniciar Sesión", main_app.new_usuario_session_path,
        class: 'dropdown-item' %>
    <% end %>
  </ul>
<% end %>

<% content_for :footer do %>
  <p><span class='derechos'>Dominio Público de acuerdo a Legislación Colombiana<br/>
    Desarrollado por <a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2016. 
  </span></p>
<% end %>

<%= render template: "layouts/sip/application" %>
