<% content_for :title do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :marca do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if !current_usuario.nil? %>
        <%= opcion_menu "Organizaciones sociales", sip.orgsociales_path %>
        <%= opcion_menu "Personas", sip.personas_path %>
    <% end %>
  <% end %>
  <%= grupo_menus empuja: :derecha do %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo "Documentos" do %>
        <%= opcion_menu "Nube", heb412_gen.sisini_path, desplegable: true %>
        <% if can? :manage, ::Heb412Gen::Carpetaexclusiva %>
          <%= opcion_menu "Carpetas exclusivas",
            heb412_gen.carpetasexclusivas_path, desplegable: true %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantillahcm %>
          <%= opcion_menu "Plantillas para listados en hojas de calculo",
            heb412_gen.plantillashcm_path, desplegable: true %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantillahcr %>
          <%= opcion_menu "Plantillas para un registro en hoja de calculo",
            heb412_gen.plantillashcr_path, desplegable: true %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantilladoc %>
          <%= opcion_menu "Plantillas para un registro en documento",
            heb412_gen.plantillasdoc_path, desplegable: true %>
        <% end %>
      <% end %>
      <%= despliega_abajo "Administrar" do %>
        <%= opcion_menu "Clave", main_app.editar_registro_usuario_path, desplegable: true %>
        <%= opcion_menu "Copia de respaldo cifrada", sip.respaldo7z_path, desplegable: true %>
        <%= opcion_menu "Usuarios", main_app.usuarios_path, desplegable: true %>
        <% if can? :manage, Mr519Gen::Formulario %>
          <%= opcion_menu "Formularios", mr519_gen.formularios_path, 
            desplegable: true %>
        <% end %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu "Tablas Básicas", sip.tablasbasicas_path,
            desplegable: true %>
        <% end %>
        <%= opcion_menu "Ayuda CA", sip.ayuda_controldeacceso_path, desplegable: true %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", main_app.sign_out_path %>
    <% else %>
      <%= opcion_menu "Acerca de", sip.acercade_path %>
      <%= opcion_menu "Iniciar Sesión", main_app.new_usuario_session_path %>
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <p><span class='derechos'>Sistema de información de 
    <a href='https://github.com/pasosdeJesus/sip'>código abierto</a> con 
    <a href="https://github.com/pasosdeJesus/sip/blob/main/LICENCIA.md">licencia ISC</a>
    <br/>
    Desarrollado por <a id='pasosdeJesus' href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2023. 
  </span></p>
<% end %>

<%= render template: "layouts/sip/application" %>
