<div class="row">

  <div class="col-sm-4">
    <%= will_paginate @registros, { param_name: :pagina }  %>
  </div>

  <div class="col-sm-2">
    <% ng = (!genclase.nil? && genclase == 'F') ? 'Nueva' : 'Nuevo' %>
    <% if can?(:new, clase.constantize) %>
      <%= link_to t('.new', default: ng),
        new_modelo_path(@registros), 
        class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="col-sm-offset-1 col-sm-3">
    <% byebug %>
    <% if @plantillas && @plantillas.count > 0 %>
      <% oppres = [['', '']] %>  
      <% oppres += @plantillas if @plantillas %>
      <%= f.input :disgenera, collection: oppres, 
        label: false, include_blank: false %>
    <% end %>
  </div>

  <div class="col-sm-2">
    <% if @plantillas && @plantillas.count > 0 %>
      <%= link_to t('.imprimir', :default => 'Generar ODS'), 
        '#', class: 'btn', 
        onclick: "heb412_gen_completa_generarp(this, \'#filtro_disgenera\',
      \'/#{clase.demodulize.pluralize.downcase}\',
      \'#{clase.demodulize.pluralize.downcase}\')" %>
      <%= link_to t('.xlsx', :default => 'Generar XLSX'), '#', class: 'btn', 
        onclick: "heb412_gen_completa_generarp(this, \'#filtro_disgenera\',
      \'/#{clase.demodulize.pluralize.downcase}\',
      \'#{clase.demodulize.pluralize.downcase}\', \'xlsx\')" %>
      <%= link_to t('.pdf', :default => 'Generar PDF'), '#', class: 'btn', 
        onclick: "heb412_gen_completa_generarp(this, \'#filtro_disgenera\',
      \'/#{clase.demodulize.pluralize.downcase}\',
      \'#{clase.demodulize.pluralize.downcase}\', \'pdf\')" %>


        <!--%= link_to t('.imprimir', :default => 'Generar documemto'),  
          '#', class: 'btn', 
          onclick: "heb412_gen_completa_generarp(this, " +
          "\'#genera_plantilla_id\', null, \'#{modelo_path(@registro)}/fichaimp\')" %-->
        <!-- %= link_to t('.pdf', :default => 'Generar PDF'),
          '#', class: 'btn', 
          onclick: "heb412_gen_completa_generarp(this, " +
          "\'#genera_plantilla_id\', null, \'#{modelo_path(@registro)}/fichapdf\')" %-->
      <% end %>

  </div>
</div>
