<tr class='nested-fields'>
  <td>
    <% 
        ab = ::Ability.new 
        v = defined?(vista) ? vista : 
          defined?(@vista) ? @vista :
          defined?(f.object.plantillahcr.vista) ? 
          f.object.plantillahcr.vista :
          defined?(ab.campos_plantillas['Usuario']) ? 'Usuario' : nil
        if v.nil? || ab.campos_plantillas[v].nil?
          col = [['','']]
        else
          col = ab.campos_plantillas[v][:campos]
          col = col.localize(:es).sort.to_a
        end
        puts "OJO campoplantillahcr. col=#{col.to_s}"
    %>
    <%= f.input :nombrecampo,
      collection: col,
      label: false %>
  </td>
  <td>
    <%= f.input :columna,
      collection: Heb412Gen::ApplicationHelper::RANGOCOL,
      label: false
    %>
  </td>

  <td>
    <%= f.input :fila, label: false %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
        :class => 'btn-danger' 
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
