<% if f.object.nil? || f.object.id.nil? %>
  <div class="alert alert-info" role="alert">
    Guarde y vuelva a editar para agregar campos por generar.
  </div>
<% else %>
  <div class="div-tabla">
    <div id="camposplantillahcr_marco" class="div-tabla-cuerpo">
      <div class="div-tabla-fila">
        <div class="div-tabla-celda-encabezado"><%= t('Campo') %></div>
        <div class="div-tabla-celda-encabezado"><%= t('Columna') %></div>
        <div class="div-tabla-celda-encabezado"><%= t('Fila') %></div>
        <div class="div-tabla-celda-encabezado"><%= t('Acciones') %></div>
      </div>
      <%= f.simple_fields_for :campoplantillahcr,
        f.object.campoplantillahcr.order(['LENGTH(columna)', :columna, :fila])  do |subf| %>
        <%= render partial: 'campoplantillahcr',
          locals: {f: subf, vista: f.object.vista } %>
      <% end %>
    </div>
  </div>

  <div class="enlace-agregar-campoplantillahcr">
    <%= f.submit "Agregar Campo",
      formaction: heb412_gen.crear_campoplantillahcr_path(
        index: @plantillahcr.campoplantillahcr.size
      ),
      formmethod: :post,
      formnovalidate: true,
      class: 'btn btn-sm btn-primary',
      name: "agregar-campoplantillahcr",
      id: "agregar-campoplantillahcr",
      data:  {
        disable_with: false } %>
  </div>
<% end %>
