<tr class='nested-fields'>
  <td>
    <% ab = ::Ability.new %>
    <% v = defined?(vista) ? vista : 
      defined?(@vista) ? @vista :
      defined?(f.object.plantillahcr.vista) ? 
      f.object.plantillahcr.vista :
      defined?(ab.campos_plantillas['Usuario']) ? 'Usuario' : nil %>
    <% col = Heb412Gen::PlantillaHelper.campos_vista_formulario(
      v, f.object.plantillahcr ? f.object.plantillahcr.formulario : nil,
      true) %>
    <%= f.input :nombrecampo,
      collection: col.localize(:es).sort.to_a,
      label: false
    %>
  </td>
  <td>
    <%= f.input :columna,
      collection: Heb412Gen::ApplicationHelper::RANGOCOL,
      label: false
    %>
  </td>

  <td>
    <%= f.input :fila, label: false %>
  </td>

  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association t("Eliminar"), f, 
        :class => 'btn btn-sm btn-danger' 
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
