<table class='table table-bordered' width="100%">
  <thead>
    <tr>
      <th><%= t('Campo') %></th>
      <th><%= t('Fila') %></th>
      <th><%= t('Columna') %></th>
      <th><%= t('Acciones') %></th>
    </tr>
  </thead>
  <tbody id="campoplantillahcr">
    <%= f.simple_fields_for :campoplantillahcr do |c| %>
      <%= render partial: 'campoplantillahcr', 
        locals: {f: c, vista: vista} %>
      </div>
    <% end %>
  </tbody>
</table>

<div class="links">
  <%= link_to_add_association t('Añadir campo'), f, 
    :campoplantillahcr,
    :"data-association-insertion-node" => "tbody#campoplantillahcr", 
    :"data-association-insertion-method" => "append", 
    partial: 'campoplantillahcr',
    :class => 'btn-primary' 
  %>
</div>
