
<h1 id="ruta"><%= @ruta if @ruta %></h1>

<div class="container">
  <div id="contenido">
    <%= render partial: 'index_contenido' %>
  </div>

  <% if can? :create, Heb412Gen::Doc %>
    <%= simple_form_for :nueva, { 
      remote: true,
      url: heb412_gen.nueva_carpeta_path,
      method: "post" } do |f| %>
      <div class="row">
        <div class="col"> 
          <%= f.input :nombre,
            label: false,
            placeholder: t('Nombre') %>
          <%= f.input :ruta, 
            as: :hidden, 
            input_html: {
              value: "arch/#{@ruta}"
            } %>
        </div>
        <div class="col"> 
          <%= f.button :submit, t('Nueva carpeta'), class: 'btn btn-default',
            'data-turbo' => false %>
        </div>
      </div> <!-- row -->
    <% end %>

    <%= simple_form_for :nuevo, { 
      url: heb412_gen.nuevo_archivo_path,
      method: "post" } do |f| %>
      <div class="row">
        <div class="offset-md-0 col-md-3"> 
          <%= f.input :archivo, as: :file, label: false %>
          <%= f.input :ruta, 
            as: :hidden, 
            input_html: {
              value: "arch/#{@ruta}"
            } %>
        </div>
        <div class="offset-md-0 col-md-2"> 
          <%= f.button :submit, t('Subir archivo'), class: 'btn btn-default' %>
        </div>
      </div> <!--row -->
    <% end %>

    <%= simple_form_for :actleeme, { 
      url: heb412_gen.actleeme_path,
      method: "post" } do |f| %>
      <div class="row">
        <div class="offset-md-0 col-md-7"> 
          <%= f.input :leeme, as: :text,
            label: false,
            input_html: {
              value: @leeme,
              rows: 15
            } %>
          <%= f.input :ruta, 
            as: :hidden, 
            input_html: {
              value: "arch/#{@ruta}"
            } %>
        </div>
        <div class="offset-md-0 col-md-2"> 
          <%= f.button :submit, t('Guardar descripción'), 
            class: 'btn btn-default' 
          %>
        </div>
      </div> <!--row -->
    <% end %>

  <% end %>

  <div id="heb412_mcarc" class="heb412_menucontextual">
    <ul>
      <li><a id="descargar"><%= t('Descargar') %></a></li>
      <% if can?(:destroy, Heb412Gen::Doc) || @ruta.to_s == '/generados' %>
        <li><a id="eliminar"><%= t('Eliminar') %></a></li>
      <% end %>
    </ul>
  </div>


  <div id="heb412_mcdir" class='heb412_menucontextual'>
    <ul>
      <li><a id="abrir"><%= t('Abrir') %></a></li>
      <% if can?(:destroy, Heb412Gen::Doc) || @ruta.to_s == '/generados' %>
        <li><a id="eliminar"><%= t('Eliminar') %></a></li>
      <% end %>
    </ul>
  </div>

</div>
