
<h1 id="ruta"><%= @ruta if @ruta %></h1>

<div class="container">
  <div id="contenido">
    <%= render partial: 'index_contenido' %>
  </div>

  <% if can? :create, Heb412Gen::Doc %>
    <div class="row">
      <%= simple_form_for :nueva, 
        { remote: true,
          url: heb412_gen.nueva_carpeta_path,
          method: "post" } do |f| %>

          <div class="col-md-offset-0 col-md-3"> 
            <%= f.input :nombre,
              label: false,
              placeholder: 'Nombre' %>
            <%= f.input :ruta, 
              as: :hidden, 
              input_html: {
                value: "arch/#{@ruta}"
              } 
            %>
        </div>
        <div class="col-md-offset-0 col-md-2"> 
          <%= f.button :submit, 'Nueva carpeta', class: 'btn btn-default' %>
        </div>
      <% end %>
    </div> <!-- row -->
    <div class="row">
      <%= simple_form_for :nuevo, 
        { url: heb412_gen.nuevo_archivo_path,
          method: "post" } do |f| %>
          <div class="col-md-offset-0 col-md-3"> 
            <%= f.input :archivo, as: :file,
              label: false
            %>
          <%= f.input :ruta, 
            as: :hidden, 
            input_html: {
              value: "arch/#{@ruta}"
            } 
          %>
        </div>
        <div class="col-md-offset-0 col-md-2"> 
          <%= f.button :submit, 'Subir archivo', class: 'btn btn-default' %>
        </div>
      <% end %>
    </div> <!--row -->

    <div class="row">
      <%= simple_form_for :actleeme, 
        { url: heb412_gen.actleeme_path,
          method: "post" } do |f| %>
          <div class="col-md-offset-0 col-md-7"> 
            <%= f.input :leeme, as: :text,
              label: false,
              input_html: {
                value: @leeme,
                rows: 15
              }
            %>
          <%= f.input :ruta, 
            as: :hidden, 
            input_html: {
              value: "arch/#{@ruta}"
            } 
          %>
        </div>
        <div class="col-md-offset-0 col-md-2"> 
          <%= f.button :submit, 'Guardar descripción', 
            class: 'btn btn-default' %>
        </div>
      <% end %>
    </div> <!--row -->

  <% end %>

  <div id="heb412_mcarc" class="heb412_menucontextual">
    <ul>
      <li><a id="descargar">Descargar</a></li>
      <% if can?(:destroy, Heb412Gen::Doc) %>
        <li><a id="eliminar">Eliminar</a></li>
      <% end %>
    </ul>
  </div>


  <div id="heb412_mcdir" class='heb412_menucontextual'>
    <ul>
      <li><a id="abrir">Abrir</a></li>
      <% if can?(:destroy, Heb412Gen::Doc) %>
        <li><a id="eliminar">Eliminar</a></li>
      <% end %>
    </ul>
  </div>

</div>
