<tr class='nested-fields'>
  <td>
    <% ab = ::Ability.new.acciones_plantillas %>
    <%= f.input :nombrecampo,
      collection: ab.nil? ? [] : 
        ab['Listado de casos'][:campos],
      label: false
    %>
  </td>
  <td>
    <%= f.input :columna,
      collection: Heb412Gen::ApplicationHelper::RANGOCOL,
      label: false
    %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
        :class => 'btn-danger' 
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
