<!--% byebug %-->
<%= simple_form_for @doc, 
  :html => { :class => 'form-horizontal' } do |f| 
%>

  <div class="row">
    <div id="campos" class="offset-sm-0 col-sm-12">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>

      <%= f.input(
        :tipodoc, 
        collection: [ #[:ADJUNTO, :A],
                      #[:CARPETA, :C],
                      ["PLANTILLA: HOJA DE CÁLCULO(ODS) PARA UN LISTADO DE REGISTROS", :H], 
                      #["PLANTILLA: HOJA DE CÁLCULO(ODS) PARA UN REGISTRO", :U], 
                      #["PLANTILLA: DOCUMENTO(ODT) PARA UN REGISTRO", :D], 
                      #["PLANTILLA: DOCUMENTO(ODT) PARA UN LISTADO DE REGISTROS", :M], 
                      #[:URL, :U] 
                      ], 
        include_blank: false ) 
      %>

      <% if !f.object || !f.object.id || !f.object.adjunto_file_name %>
        <%= f.input :adjunto, as: :file, label: 'Archivo' %>
      <% else %>
        <div class="doc_adjunto">
          <label for="doc_attributes_<%=f.object.id%>_adjunto">Archivo</label>
          <a id="doc_adjunto_attributes_<%=f.object.id%>_adjunto" href="<%= heb412_gen.doc_path(f.object.id) %>", style="text-decoration:none"><%= f.object.adjunto_file_name %></a>
        </div>
      <% end %>
  
      <%= f.input :fuente,
        input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'URL o referencia para dar crédito'
      } %> 

      <% ab = ::Ability.new
        acp = ab.acciones_plantillas %>
      <%= f.input :vista, 
        collection: acp.nil? ? [] : acp.keys,
        include_blank: false,
        input_html: {
          "data-toggle" => 'tooltip',
          "title" => 'Desde que parte de la aplicación se podrá llenar la plantilla'
        } %>
      <%= f.input :nombremenu,
        input_html: {
          "data-toggle" => 'tooltip',
          "title" => 'Nombre de esta plantilla para humanos'
        } %>

      <%= f.input :descripcion %> 
      <%= f.input :filainicial,
         input_html: {
          "data-toggle" => 'tooltip',
          "title" => 'Con plantillas para múltiples registros, fila de la hoja de cálculo en la que empezará el primer registro'
        } %>


      <div id="campos">
        <table class='table table-bordered' border=1 width="100%">
          <thead>
            <tr>
              <th>Campo</th>
              <th>Columna</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="campohc">
            <%= f.simple_fields_for :campohc do |c| %>
              <%= render 'campohc', :f => c %>
            <% end %>
          </tbody>
        </table>

        <div class="links">
          <%= link_to_add_association 'Añadir Campo', f, 
            :campohc,
            :"data-association-insertion-node" => "tbody#campohc", 
            :"data-association-insertion-method" => "append", 
            partial: 'campohc',
            :class => 'btn-primary' %>
        </div>
      </div>

      <div class="form-actions abajocentrado">
        <%= f.button :submit, :class => 'btn-primary' %>

        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          heb412_gen.docs_path, :class => 'btn' 
        %>
      </div>

    </div> <!-- class="offset-sm-0 col-sm-7 col-md-8" -->
  
    <div id="resultados" class="offset-sm-0 col-sm-8">
    </div> <!-- id: resultados -->
  </div> <!-- row -->

<% end %>
