<%- model_class = Heb412Gen::Doc -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= Heb412Gen::Doc.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @doc.nombre if @doc.nombre %></dd>
  <dt><strong><%= Heb412Gen::Doc.human_attribute_name(:fuente) %>:</strong></dt>
  <dd><%= @doc.fuente if @doc.fuente %></dd>
</dl>

<div class="form-actions">
  <%= render partial: 'msip/modelos/boton_regresar',
    locals: {registro: @doc} %>
  <%= render partial: 'boton_editar',
    locals: {registro: @doc} %>
  <%= link_to t('Probar generación'),
    heb412_gen.doc_path(h @doc.id) + '/impreso', :class => 'btn',
    :target => '_blank' %>
  <%= render partial: 'boton_eliminar',
    locals: {registro: @doc} %>
</div>
